<template>
    <div>
        <v-container fluid class="pa-0">
            <v-img fluid src="../assets/kimono-pattern.png" height=130>
                <v-layout align-center justify-center row wrap>
                    <v-flex md1>
                        <v-img src="../assets/destination icon.png"></v-img>
                    </v-flex>
                    <v-flex left md3>
                        <h1 class="pink--text">Destinations</h1>
                </v-flex>
                </v-layout>
            </v-img>
        </v-container>
                <v-container>
            <v-layout row justify-center>
                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://www.japan-guide.com/g8/3400_06.jpg"
                    >
                        <v-card-title class="pink accent-2">Atomic Bomb Dome</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">Nakajimacho, Naka Ward, Hiroshima</v-card-subtitle>
                            <v-card-text class="text--primary">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://www.touropia.com/gfx/b/2019/11/peace_memorial_park.jpg"
                        >
                            <v-card-title class="pink accent-2">Hiroshima Peace Memorial Park</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">Miyajima Island</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>


                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://jpninfo.com/wp-content/uploads/2016/08/hiroshima-shukkeien-garden-landscape.jpg"
                        >
                            <v-card-title class="pink accent-2">Shukkeien Garden</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">Kaminoboricho, Naka Ward, Hiroshima</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="http://www.jcastle.info/smw2019/images/b/b9/Hiroshima63.jpg"
                        >
                            <v-card-title class="pink accent-2">Hiroshima Castle</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">Kaminoboricho, Naka Ward, Hiroshima</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://live.staticflickr.com/5753/30480713050_20314ea3d8_b.jpg"
                        >
                            <v-card-title class="pink accent-2">Mitaki-dera</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">411 Mitakiyama, Nishi Ward</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-dialog v-model="dialog1" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn class="pink accent-2 white--text" v-on="on">Explore</v-btn>
                                </template>
                                <v-card>
                                    <v-toolbar color="pink accent-2 white--text">
                                    <v-btn icon dark @click="dialog1 = false">
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title>Mitaki-dera</v-toolbar-title>
                                    </v-toolbar>
                                </v-card>
                                </v-dialog>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://jpninfo.com/wp-content/uploads/2016/08/hiroshima-shukkeien-garden-landscape.jpg"
                        >
                            <v-card-title class="pink accent-2">Shukkeien Garden</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">Kaminoboricho, Naka Ward, Hiroshima</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                            <v-card-actions>
                                <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn class="pink accent-2 white--text" v-on="on">Explore</v-btn>
                                </template>
                                <v-card>
                                    <v-toolbar color="pink accent-2 white--text">
                                    <v-btn icon dark @click="dialog = false">
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title>Shukkeien Garden</v-toolbar-title>
                                    </v-toolbar>
                                </v-card>
                                </v-dialog>
                            </v-card-actions>
                    </v-card>
                </v-flex>

            </v-layout>
        </v-container>
    </div>
</template>

<script>
import db from './firebaseInit'

export default {
    name:'dashboard',
    data(){
        return{
            destination:[],
            dialog: false,
            dialog1:false,
            notifications: false,
            sound: true,
            widgets: false
        }
    },
    created(){
        db.collection('destination').get().then(querySnapshot => {
            querySnapshot.forEach(doc => {
                console.log(doc.data())
                const data = {
                    'id':doc.id,
                    'destination_id':doc.data().destination_id,
                    'title':doc.data().title,
                    'desc':doc.data().desc,
                    'loc':doc.data().loc,
                    'link':doc.data().link
                }
                this.destination.push(data)
            })
        })
    }
}
</script>