<template>
    <div>
        <v-container fluid class="pa-0">
            <v-img fluid src="../assets/kimono-pattern.png" height=130>
                <v-layout align-center justify-center row wrap>
                    <v-flex md1>
                        <v-img src="../assets/events-icon.png"></v-img>
                    </v-flex>
                    <v-flex left md3>
                        <h1 class="pink--text">Events and Festivals</h1>
                </v-flex>
                </v-layout>
            </v-img>
        </v-container>
    
    <v-container>
        <v-layout row justify-center>
            <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://i0.wp.com/gethiroshima.com/wp-content/uploads/2016/03/Hiroshima-Peace-Memorial-Park-cherry-blossom-2.jpg"
                        >
                            <v-card-title class="pink accent-2">Ohanami (お花見)</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">20 March and 14 April</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://japan-magazine.jnto.go.jp/jnto2wm/wp-content/uploads/1709_kagura_main.jpg"
                        >
                            <v-card-title class="pink accent-2">Hiroshima Kagura</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pb-0 pink--text text--lighten-2">Miyajima Island</v-card-subtitle>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
        </v-layout>
    </v-container>


    </div>
</template>