<template>
    <div>
        <v-container fluid class="pa-0">
            <v-img  fluid src="../assets/kimono-pattern.png" height=130>
                <v-layout align-center justify-center row wrap>
                    <v-flex md1>
                        <v-img src="../assets/kimono-icon.png"></v-img>
                    </v-flex>
                    <v-flex left md3>
                        <h1 class="pink--text">Things To Do</h1>
                </v-flex>
                </v-layout>
            </v-img>

        </v-container>

        <v-container>
            <v-layout row justify-center>
                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://photos.smugmug.com/Kyoto/Kyoto-Restaurants/i-xPq9Gxq/0/cb50bf50/XL/shutterstock_1460683958-XL.jpg"
                        >
                            <v-card-title class="red accent-3">Hiroshima Food</v-card-title>
                        </v-img>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="red accent-3 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://media-cdn.tripadvisor.com/media/photo-s/14/22/a5/83/caption.jpg"
                    >
                        <v-card-title class="red accent-3">Halal Restaurants</v-card-title>
                        </v-img>
                            <v-card-text class="text--primary">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="red accent-3 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://media.gettyimages.com/photos/variations-of-japanese-yen-currency-picture-id89581358?s=612x612"
                        >
                            <v-card-title class="red accent-3">Budget Trip</v-card-title>
                        </v-img>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="red accent-3 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>


                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://www.hiroshima-navi.or.jp/en/post/assets_c/2018/02/1433-thumb-1060xauto-8476.jpg"
                        >
                            <v-card-title class="red accent-3">Kimono and Yukata</v-card-title>
                        </v-img>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="pink accent-2 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://cdn2.vectorstock.com/i/1000x1000/35/36/do-and-dont-check-tick-mark-red-cross-icon-vector-20593536.jpg"
                        >
                            <v-card-title class="red accent-3">Manners for Tourist</v-card-title>
                        </v-img>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="red accent-3 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

                <v-flex lg5 class="ma-4">
                    <v-card
                        class="mx-auto"
                    >
                        <v-img
                        class="white--text align-end"
                        height="300"
                        src="https://lh3.googleusercontent.com/proxy/7jPkx1mVHqzfiW4E9WD0nixz5H-wTJYW9sBk2s-zZsuyaMfCj9UsZNpOjFiip-kQqUEZisridBIwX8YT3u8bKSNhkl7EkGVsk3q4IDg7lgk5b0-hzBo4QaY83luLFhVTllcWaiF8_MAQ6l1lP8596P5TuL-K3BmnJtzAC7YSC36nBgi-jCidZqshBt-vfzRnDo-Fh0toW389z_gMZAbhgrwD"
                        >
                            <v-card-title class="red accent-3">Arts and Cultures</v-card-title>
                        </v-img>
                        <v-card-text class="text--primary">
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="red accent-3 white--text"
                            >
                            Explore
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>